<div class = "sign-up-field-container">
  <div class = "sign-up-header">
    <h2>Everyday</h2>
  </div>

  <%= form_with(url: session_path, scope: :session, local: true, class: "sign-up-field") do |form| %>
    <div class="login-field">
      <%= form.label :email %>
      <%= form.email_field :email, placeholder: "Enter your email", required: true, class: "sign-up-field" %>
    </div>

    <div class="login-field">
      <%= form.label :password %>
      <%= form.password_field :password, placeholder: "Enter your password", required: true, class: "sign-up-field" %>
    </div>

    <div class="login-field">
      <%= form.submit "Login", class: "login-button" %>
    </div>
  <% end %>

  <p class = "already" >Don't have an account? <%= link_to "Sign up", signup_path, id: "sign-up-here" %></p>
</div>