<div class="task-details">
  <h4 id="task-name"><%= task.name %></h4>
  <%# <p><%= task.description %>

  <% if task.due_date.present? %>
    <p class="due-date">
      <span>Due Date:</span> <%= task.due_date.strftime('%A, %B %d, %Y') %>
    </p>
  <% else %>
    <p class = "no-due-date">No due date set</p>
  <% end %>

  <p class="priority <%= task.priority ? 'high' : 'normal' %>">
    Priority: <%= task.priority ? "High" : "Normal" %>
  </p>
</div>
