<h1>Tasks for Today</h1>

<% @tasks_today.each do |task| %>
  <div>
    <h3><%= task.name %></h3>
    <p><%= task.description %></p>
    <p>Due: <%= task.due_date.strftime('%A, %B %d, %Y') %></p>
    <p>Priority: <%= task.priority ? "High" : "Normal" %></p>
    <%= link_to 'Show', category_task_path(@category, task) %> |
    <%= link_to 'Edit', edit_category_task_path(@category, task) %> |
    <%= link_to 'Delete', category_task_path(@category, task), method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>
<% end %>


<%# !!! %>