<div class = "sign-up-field-container">
  <div class = "sign-up-header">
    <h2>Everyday</h2>
    <p>Sign up to start your journal.</p> 
  </div>
  

  <%= form_with model: @user, url: users_path, local: true do |f| %>
    <div class = "sign-up-field">
      <%= f.label :email %>
      <%= f.email_field :email, required: true %>
    </div>

    <div class = "sign-up-field">
      <%= f.label :password %>
      <%= f.password_field :password, required: true %>
    </div>

    <div class = "sign-up-field">
      <%= f.label :password_confirmation, "Confirm Password" %>
      <%= f.password_field :password_confirmation, required: true %>
    </div>

    <div class = "sign-up-field">
      <%= f.submit "Sign Up" %>
    </div>
  <% end %>

<p class = "already" >Already have an account? <%= link_to "Login here", new_session_path, id: "login-here" %></p>
</div>