<div class = "sign-up-field-container">
  <div class = "sign-up-header">
    <h2>Everyday</h2>
    <p>Sign up to start your journal.</p> 
  </div>
  
  <% if @user.errors.any? %>
    <div class="error-messages">
      
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <% msg = msg.gsub("Password confirmation ", "") if msg.include?("Password confirmation") %>
          <p><%= msg %></p>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form_with model: @user, url: users_path, local: true, html: { novalidate: true }  do |f| %>
    <div class = "sign-up-field">
      <%= f.label :email %>
      <%= f.email_field :email, required: true, class: ("input-error" if @user.errors[:email].any?) %>
        <% if @user.errors[:email].any? %>
          <p class="error-text"><%= @user.errors[:email].first %></p>
        <% end %>
    </div>

    <div class = "sign-up-field">
      <%= f.label :password %>
        <%= f.password_field :password, required: true, class: ("input-error" if @user.errors[:password].any?) %>
          <% if @user.errors[:password].any? %>
            <p class="error-text"><%= @user.errors[:password].first %></p>
          <% end %>
    </div>

    <div class = "sign-up-field">
      <%= f.label :password_confirmation, "Confirm Password" %>
      <%= f.password_field :password_confirmation, required: true, class: ("input-error" if @user.errors[:password_confirmation].any?) %>
    </div>

    <div class = "sign-up-field">
      <%= f.submit "Sign Up" %>
    </div>
  <% end %>

<p class = "already" >Already have an account? <%= link_to "Login here", login_path, id: "login-here" %></p>
</div>