<div id="<%= dom_id category %>">
  <div class="category-name-container">
    <h2>
      <%= category.name %>
    </h2>

    <!-- Updated link with Material icon -->
  <%= button_tag type: "button", id: "edit-category-link", class: "link" do %>
    <span class="material-symbols-outlined">edit_square</span>
  <% end %>


  </div>

  <!-- This div will hold the edit form and be hidden initially -->
  <div id="edit-category-form" class = "hidden">
    <%= render "form", category: @category %>
  </div>

  <div class="category-details">
    <h3>What are your goals?</h3>
    <div class="tasks">
      <% @tasks.each do |task| %>
        <div class="task">
          <h3><%= task.name %></h3>
          <p><%= task.description %></p>
          <p>Due Date: <%= task.due_date %></p>
          <p><%= task.priority %></p>
          <p><%= task.completed ? "Completed" : "Incomplete" %></p>
          <%= link_to 'Edit', edit_category_task_path(category, task) %> |
          <%= link_to 'Delete', category_task_path(category, task), method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
      <% end %>
    </div>
  </div>
</div>


