<%# <p style="color: green"><%= notice %> 
<% content_for :title, "Categories" %>

<div class = "logout-and-current-user">

  <div class = "current-user">
    <p><%= current_user.email %></p>
  </div>

  <div class = "logout-button">
    <% if session[:user_id] %>
      <div class="logout-container">
        <%= button_to "Logout", session_path, method: :delete, class: "logout-button" %>
      </div>
    <% end %>
  </div>

</div>

<header>
  <h1>Welcome to Everyday!</h1>
</header>
<hr>

<div class="index-container">
  
  <!-- Tasks Due Today Section -->
  <div class="buggy-container" id="my-scrollable-today">
    <%= render partial: "tasks/tasks_due_today", locals: { tasks_today: @tasks_today } %>
    <%# <%= link_to "View Today's Tasks", tasks_due_today_path %> 
  </div>

  <!-- New Category Form and Categories List -->
  <div class="new-category-and-cards-container">
    
    <!-- New Category Form Section -->
    <div class="new-category-container">
      <p>Start your journal</p>
      <%= render "categories/form", category: @category %>
    </div>
        
    <!-- Categories List Section -->
    <div id="categories">
      <% if @categories.any? %>
        <% @categories.each do |category| %>
          <div class="category-card" id="my-scrollable-div">
            <%= link_to category_path(category), class: "main-category-link" do %>
              <div class="category-actions">
                <h2><%= category.name %></h2>
              </div>
              <div class="tasks">
                <% category.tasks.each do |task| %>
                  <%= render partial: "tasks/show", locals: { task: task, category: category } %>
                <% end %>
              </div>
            <% end %>
          </div>
        <% end %>
      <% else %>
        <div class="empty-state">
          <p>Click "Title" above to add a category and begin organizing your tasks!</p>
        </div>
      <% end %>
    </div>

    
  </div> <!-- End new-category-and-cards-container -->
</div> <!-- End index-container -->
