<%# <p style="color: green"><%= notice %>

<% content_for :title, "Categories" %>

<header>
  <h1>Categories for Journal App</h1>
</header>

<div id="categories">
  
    
    <% @categories.each do |category| %>  
    <div class="category-card" id="my-scrollable-div">
        <div class="category-actions">
          <%= link_to category_path(category), class: "main-category-link" do %>
          <h2><%= category.name %></h2>
        </div>
      <% end %>

      <div class="tasks">
        <% category.tasks.each do |task| %>
          <%= render partial: "tasks/show", locals: { task: task, category: category } %>
        <% end %>
      </div>
  </div>

<% end %>
</div>
<%= link_to "New Category", new_category_path, class: "new-category" %>
