<%# <p style="color: green"><%= notice %>

<%= render @category %>
<%= render "tasks/tasks_under_category", tasks: @category.tasks, category: @category %>

<%= link_to "Add Task", new_category_task_path(@category) %>

<div class = "delete-all-btn-container">
  <%= button_to "Delete all", @category, class: "delete-button", method: :delete, data: { turbo_confirm: "Are you sure you want to delete this post?" } %>
</div>

<div class ="back-categories-button">
  <%= link_to "Back to categories", categories_path, id: "back-categories" %>
</div>


