<%# <p style="color: green"><%= notice %>

<%= render @category %>

<div id="edit-category-form" style="display: none;">
  <%= render "form", category: @category %>
</div>

<div>
  <%= button_to "Delete all", @category, class: "delete-button", method: :delete, data: { turbo_confirm: "Are you sure you want to delete this post?" } %>
</div>
 <%= link_to "Back to categories", categories_path %>

<script>
  document.addEventListener("turbo:load", function () {
    const editButton = document.getElementById("edit-category-link");
    const editForm = document.getElementById("edit-category-form");

    if (!editButton || !editForm) {
      console.log("Edit button or form not found");
      return;
    }

    // Toggle visibility on click
    editButton.addEventListener("click", function (event) {
      console.log("edit button clicked");
      event.preventDefault();
      
      // Toggle the 'hidden' class to show/hide the form
      editForm.classList.toggle("visible");
    });
  });
</script>